<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <div class="quiz">
    <ol>
      <li *ngFor="let question of questions">{{ question.question }}
        <select>
          <option *ngFor="let number of answersCount" value="{{question.questionId}}"> {{ number }}</option>
        </select>
      </li>
    </ol>
  </div>
  <div class="quiz">
    <ol>
      <li *ngFor="let answer of answers">{{ answer.answer }}
      </li>
    </ol>
  </div>
</div>
<button (click)="verifyAnswers()">Submit</button>